body{
    background-size: cover;
}

#Start,#status,#Name_obj{
    font-size: 25px;
    margin-top: 10px;
    margin-top: 10px;

}

.heading{
    width:100%;
    font-size: 25px;
    margin-top: 0%;
}

.footer{
    width:100%;
    background-color: rgb(26, 26, 26);
    line-height: 3;
    text-align: center;
    font-size: 20px;
    color: white;
    bottom:0;
position: fixed;
text-shadow: 5px 5px 5px white;
}

canvas{
    border-radius: 10px;
    border-color: white;
    border-width: 5;
    box-shadow: 5px 5px 5px white;
    margin-top: 170px;
}

.h3{
    color: white;
}